{# NSCoreBundle::admin-nav.html.twig #}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="admin-menu" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ "nav.authentication.adminbutton" | trans }}
        </a>
        <div class="dropdown-menu" aria-labelledby="admin-menu">
            <a class="dropdown-item" href="{{ path("fos_user_profile_show") }}">{{ "nav.authentication.user.account" | trans }}</a>
            <a class="dropdown-item" href="{{ path("fos_user_change_password") }}">{{ "actions.change-password" | trans }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path("news_index") }}">{{ "nav.authentication.news" | trans }}</a>
            {% endif %}
            {% if is_granted('ROLE_AUTHOR') %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path("resume_index") }}">{{ "nav.authentication.resume.my-resumes" | trans }}</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path("skill_index") }}">{{ "nav.authentication.resume.skills" | trans }}</a>
                <a class="dropdown-item" href="{{ path("skilllevel_index") }}">{{ "nav.authentication.resume.skilllevels" | trans }}</a>
            {% endif %}
        </div>
    </li>
{% endif %}