{% extends 'NSCoreBundle::admin.html.twig' %}

{% block title %}{{ "experience.delete.title" | trans({"%id%": experience.id}, "NSResumeBundle") }} - {{ parent() }}{% endblock %}

{% block ns_core_admin_body %}
    <div class="jumbotron text-center">
        <h1>{{ "experience.delete.title" | trans({"%id%": experience.id}, "NSResumeBundle") }}</h1>
        <p>{{ "experience.delete.confirm" | trans({"%company%": experience.company, "%location%": experience.location}, "NSResumeBundle")}}</p>

        {{ form_start(delete_form) }}
        <div class="actions">
            <a class="btn btn-secondary mx-1 my-1"
               href="{{ path('resume_show', {'id': experience.resume.id}) }}#experiences">
                <i class="fas fa-chevron-left"></i>
                {{ "resume.return" | trans({}, "NSResumeBundle")}}
            </a>
            <a class="btn btn-info mx-1 my-1"
               href="{{ path('experience_show', { 'id': experience.id }) }}">
                <i class="far fa-eye"></i>
                {{ "actions.show" | trans({}, 'messages')}}
            </a>
            <button class="btn btn-danger mx-1 my-1">
                <i class="fas fa-trash-alt"></i>
                {{ "actions.delete" | trans}}
            </button>
        </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
