{# NSResumeBundle:Experience:new.html.twig #}

{% extends 'NSCoreBundle::admin.html.twig' %}

{% block title %}{{ "experience.new.title" | trans({}, 'NSResumeBundle') }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ '/bundles/nscore/css/forms.css' }}" type="text/css">
{% endblock %}

{% block ns_core_admin_body %}
    <div class="jumbotron">
        <h1 class="text-center">{{ "experience.new.title" | trans({}, 'NSResumeBundle') }}</h1>

        {% include '@NSResume/Experience/partials/form.html.twig' %}
    </div>
{% endblock %}
