{# NSCoreBundle:News:form.html.twig #}

{{ form_start(form) }}

<div class="form-group">
    <label for="com_nairus_corebundle_newscontent_title" class="required">
        <span class="ns-flag ns-flag-{{ locale }}"></span>
        {{ "news.form.labels.title" | trans({}, "NSCoreBundle") }}
    </label>
    {{ form_widget(form.title) }}
</div>

<div class="form-group">
    <label for="com_nairus_corebundle_newscontent_description" class="required">
        <span class="ns-flag ns-flag-{{ locale }}"></span>
        {{ "news.form.labels.description" | trans({}, "NSCoreBundle") }}
    </label>
    {{ form_widget(form.description) }}
</div>

<div class="form-group">
    <label for="com_nairus_corebundle_newscontent_link" class="required">
        <span class="ns-flag ns-flag-{{ locale }}"></span>
        {{ "news.form.labels.link" | trans({}, "NSCoreBundle") }}
    </label>
    {{ form_widget(form.link) }}
</div>

{# render published field if exist #}
{% if form.news.published is defined %}
    {{ form_widget(form.news.published, {label_attr: {class: 'checkbox-custom'}}) }}
{% endif %}

{# Rest of the form #}
<div class="row">
    <a href="{{ path('news_index') }}" class="btn btn-secondary mx-1 my-1">
        <i class="fas fa-chevron-left"></i>
        {{ "actions.list" | trans}}
    </a>
    {% if not news.isNew %}
        <a href="{{ path('news_show', {"id": news.id}) }}" class="btn btn-secondary mx-1 my-1">
            <i class="fas fa-chevron-up"></i>
            {{ "actions.show" | trans}}
        </a>
    {% endif %}
    {{ form_widget(form.save, {'attr': {'class': 'btn-primary mx-1 my-1'}}) }}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
