{% extends 'NSCoreBundle::admin.html.twig' %}

{% block title %}{{ "news.index.title" | trans({}, "NSCoreBundle") }} - {{ parent() }}{% endblock %}

{% block ns_core_admin_body %}
    <div class="jumbotron">
        <h1 class="text-center">{{ "news.index.title" | trans({}, "NSCoreBundle") }}</h1>

        {{ include("NSCoreBundle::messages.html.twig") }}

        <a class="btn btn-primary" href="{{ path('news_new') }}">
            <i class="fas fa-plus"></i>
            {{ "news.index.add-news" | trans({}, "NSCoreBundle")  }}
        </a>
    </div>

    <div id="news-container" class="container-fluid">
        {% if items | length > 0 %}
            <table class="table table-hover table-light table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ "table.cols.titles" | trans }}</th>
                        <th scope="col">{{ "table.cols.creation-date" | trans }}</th>
                        <th scope="col">{{ "table.cols.publication-date" | trans }}</th>
                        <th scope="col">{{ "table.cols.missing-translations" | trans }}</th>
                        <th scope="col">{{ "table.cols.actions" | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% set news = item['entity'] %}
                        {% set delete_form = item['deleteForm'] %}
                        <tr>
                            <th scope="row"><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.id }}</a></th>
                            <td>
                                <div class="d-flex flex-md-column bd-highlight mb-3">
                                    {% for content in news.contents %}
                                        <div class="p-2 bd-highlight">
                                            <a href="{{ path("news_translation", {"id": news.id, "locale": content.locale}) }}">
                                                <span class="ns-flag ns-flag-{{ content.locale }}"></span>
                                                {{ content.title }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                            <td>{{ news.createdAt|localizeddate('short', 'short') }}</td>
                            <td>
                                {% if news.published %}
                                    <i class="far fa-thumbs-up"></i>
                                    {{ news.publishedAt|localizeddate('short', 'short') }}
                                {% else %}
                                    <i class="far fa-thumbs-down"></i>
                                    {{ "table.cols.offline" | trans }}
                                {% endif %}
                            </td>
                            <td class="missing-translations">
                                {% if news.id in missingTranslations|keys %}
                                    {% set translations = missingTranslations[news.id] %}
                                    <div class="d-flex flex-md-column bd-highlight mb-3">
                                        {% for translation in translations %}
                                            <div class="p-2 bd-highlight">
                                                <a href="{{ path("news_translation", {"id": news.id, "locale": translation}) }}">
                                                    <span class="ns-flag ns-flag-{{ translation }}"></span>
                                                    {{ translation }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                <div class="d-flex flex-md-column bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <a class="btn btn-primary"
                                           href="{{ path('news_edit', { 'id': news.id }) }}">
                                            <i class="fas fa-pencil-alt"></i>
                                            {{ "actions.edit" | trans }}
                                        </a>
                                    </div>
                                    {% if not news.published %}
                                        <div class="p-2 bd-highlight">
                                            <form action="{{ path('news_publish', { 'id': news.id }) }}" method="POST">
                                                <button class="btn btn-success">
                                                    <i class="fas fa-globe-americas"></i>
                                                    {{ "actions.publish" | trans }}
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    <div class="p-2 bd-highlight">
                                        <a class="btn btn-secondary"
                                           href="{{ path('news_show', { 'id': news.id }) }}">
                                            <i class="far fa-eye"></i>
                                            {{ "actions.show" | trans}}
                                        </a>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        {{ form_start(delete_form) }}
                                        <button class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                            {{ "actions.delete" | trans}}
                                        </button>
                                        {{ form_end(delete_form) }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if pages > 1 %}
                {#
                    We set the specific variables for the pagination template.
                    See NewsController for the generic variables (pages and currentPage).
                #}
                {% set paginationLabel = ("news.index.pagination-label" | trans({}, "NSCoreBundle")) %}
                {% set routeName = "news_index" %}
                {% include "NSCoreBundle::pagination.html.twig" %}
            {% endif %}

        {% else %}
            <em>{{ "table.no-item" | trans }}</em>
        {% endif %}
    </div>
{% endblock %}
