{% extends 'NSCoreBundle::layout.html.twig' %}

{% block title %}{{ "news.index.title" | trans({}, "NSCoreBundle") }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ "news.index.title" | trans({}, "NSCoreBundle")  }}</h1>

    {{ include("NSCoreBundle::messages.html.twig") }}

    {% if newsList | length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Createdat</th>
                    <th>Updatedat</th>
                    <th>Publishedat</th>
                    <th>Published</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for news in newsList %}
                    <tr>
                        <td><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                        <td>{% if news.createdAt %}{{ news.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if news.updatedAt %}{{ news.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if news.publishedAt %}{{ news.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if news.published %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('news_show', { 'id': news.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_edit', { 'id': news.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if pages > 1 %}
            <nav aria-label="{{ "news.index.pagination-label" | trans({}, "NSCoreBundle") }}">
                <ul class="pagination">
                    {% set previousUrl = currentPage == 1 ? "#" : path("news_index", {"page": currentPage - 1}) %}
                    {% set nextUrl = currentPage == pages ? "#" : path("news_index", {"page": currentPage + 1}) %}

                    <li class="page-item {%if currentPage == 1%}disabled{%endif%}">
                        <a class="page-link"
                           href="{{ previousUrl }}"
                           {%if currentPage == 1%}tabindex="-1"{%endif%}
                           aria-label="{{ "pagination.previous" | trans }}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">{{ "pagination.previous" | trans }}</span>
                        </a>
                    </li>

                    {% for page in range(1, pages) %}
                        <li class="page-item {%if page == currentPage%}active{%endif%}">
                            <a class="page-link" href="{{ path("news_index", {"page": page}) }}">
                                {{ page }} {%if page == currentPage%}<span class="sr-only">(current){%endif%}</span>
                            </a>
                        </li>
                    {% endfor %}

                    <li class="page-item {%if currentPage == pages%}disabled{%endif%}">
                        <a class="page-link"
                           href="{{ nextUrl }}"
                           {%if currentPage == pages%}tabindex="-1"{%endif%}
                           aria-label="{{ "pagination.next" | trans }}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">{{ "pagination.next" | trans }}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}

    {% else %}
        <em>{{ "news.index.no-news" | trans({}, "NSCoreBundle")  }}</em>
    {% endif %}

    <div>
        <a class="btn btn-primary" href="{{ path('news_new') }}">
            <i class="fas fa-plus"></i>
            {{ "news.index.add-news" | trans({}, "NSCoreBundle")  }}
        </a>
    </div>
{% endblock %}
