{% extends 'NSCoreBundle::admin.html.twig' %}

{% block title %}{{ "news.new.title" | trans({}, "NSCoreBundle") }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ '/bundles/nscore/css/forms.css' }}" type="text/css">
{% endblock %}

{% block ns_core_admin_body %}
    <div class="jumbotron">
        <h1 class="position-relative">{{ "news.new.title" | trans({}, "NSCoreBundle") }}</h1>
        {% include 'NSCoreBundle:News:form.html.twig' %}
    </div>
{% endblock %}
