{# NSCoreBundle:News:translation.html.twig #}

{% extends "NSCoreBundle::admin.html.twig" %}

{% block title %}{{ pageTitle | trans({"%news_id%": news.id, "%locale%": locale}, "NSCoreBundle") }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ '/bundles/nscore/css/forms.css' }}" type="text/css">
{% endblock %}

{% block ns_core_admin_body %}
    <h1 class="position-relative">{{ pageTitle | trans({"%news_id%": news.id, "%locale%": locale}, "NSCoreBundle") }}</h1>

    {% if originalContent is not null %}
        <div class="card">
            <div class="class-body p-3">
                <h5 class="card-title">{{ "news.translation.original-content" | trans({"%locale%": originalContent.locale}, "NSCoreBundle") }}</h5>
                <p class="card-text">
                    <strong>{{"news.form.labels.title" | trans({"%locale%": originalContent.locale}, "NSCoreBundle")}}: </strong>
                    {{ originalContent.title }}
                </p>
                <p class="card-text text-justify">
                    <strong>{{"news.form.labels.description" | trans({"%locale%": originalContent.locale}, "NSCoreBundle")}}: </strong>
                    {{ originalContent.description }}
                </p>
                <p class="card-text">
                    <strong>{{"news.form.labels.link" | trans({"%locale%": originalContent.locale}, "NSCoreBundle")}}: </strong>
                    {{ originalContent.link }}
                </p>
            </div>
        </div>
        <hr>
    {% endif %}
    {% include 'NSCoreBundle:News:form.html.twig' %}
{% endblock %}