{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<div class="form-group">
    <label for="fos_user_change_password_form_current_password" class="required">
        {{ "form.current_password" | trans }}
    </label>
    {{ form_widget(form.current_password) }}
    {{ form_errors(form.current_password) }}
</div>

<div class="form-group">
    <label for="fos_user_change_password_form_plainPassword_first" class="required">
        {{ "form.new_password" | trans }}
    </label>
    {{ form_widget(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.first) }}
</div>

<div class="form-group">
    <label for="fos_user_change_password_form_plainPassword_second" class="required">
        {{ "form.new_password_confirmation" | trans }}
    </label>
    {{ form_widget(form.plainPassword.second) }}
</div>

{{ form_rest(form) }}
<div class="actions">
    <a class="btn btn-secondary" href="{{ path("fos_user_profile_show") }}">
        <i class="fas fa-chevron-left"></i>
        {{ "actions.return" | trans({}, "messages") }}
    </a>
    <button class="btn btn-primary">
        <i class="fas fa-user-shield"></i>
        {{ 'change_password.submit' | trans }}
    </button>
</div>
{{ form_end(form) }}
