{% extends "@FOSUser/layout.html.twig" %}

{% block title %}{{ "profile.change-password.title" | trans({}, "NSUserBundle") }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ '/bundles/nscore/css/forms.css' }}" type="text/css">
{% endblock %}

{% block fos_user_content %}
    <h1>{{ "profile.change-password.title" | trans({}, "NSUserBundle") }}</h1>
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
