{% extends "NSCoreBundle::layout.html.twig" %}

{% block title %}{{ "public.index.title" | trans({}, "NSResumeBundle")}} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container jumbotron text-center">
        <h1 class="display-4">{{ "public.index.title" | trans({}, "NSResumeBundle")}}</h1>
        <h2>{{ "public.index.subtitle" | trans({}, "NSResumeBundle") }}</h2>
        <p>{{ "public.index.description" | trans({}, "NSResumeBundle") | raw }}</p>
    </div>
    <div class="container-fluid">
        <div class="row mb-2">
            {% if entities|length > 0 %}
                {% for resume in entities %}
                    {% include 'NSResumeBundle::card.html.twig' %}
                {% endfor %}
            {% else %}
                <div class="no-resume text-center col-12">
                    <em>{{ "public.index.no-resume"|trans({}, "NSResumeBundle") }}</em>
                </div>
            {% endif %}
        </div>

        <div class="row pagination-container">
            {% if pages > 1 %}
                {#
                    We set the specific variables for the pagination template.
                    See NewsController for the generic variables (pages and currentPage).
                #}
                {% set paginationLabel = ("public.index.pagination-label" | trans({}, "NSResumeBundle")) %}
                {% set routeName = "ns_resume_homepage" %}
                {% include "NSCoreBundle::pagination.html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock %}