{% extends "NSCoreBundle::layout.html.twig" %}

{% block title %}{{ "homepage.index.head.title" | trans({}, "NSCoreBundle") }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="homepage">
        {{ include("NSCoreBundle::messages.html.twig") }}

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">{{ "homepage.index.titles.h1" | trans({}, "NSCoreBundle") }}</h1>
                <p>{{ "homepage.index.description" | trans({}, "NSCoreBundle") | raw }}</p>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/nairus" role="button">{{ "homepage.index.github-profile" | trans({}, "NSCoreBundle")}} &raquo;</a></p>
            </div>
        </div>

        {% if lastNewsContentList |length > 0 %}
            <div class="container last-news-container">
                <div class="row">
                    {% for newsContent in lastNewsContentList %}
                        <div class="col-md-4 last-news-tile">
                            <h2>newsContent.title</h2>
                            <p>newsContent.description</p>
                            <p><a class="btn btn-secondary" href="{{ newsContent.link }}" role="button">{{ "homepage.index.last_news_button" }} &raquo;</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}