{% extends "@FOSUser/layout.html.twig" %}

{% block title %}{{ "profile.edit.title" | trans({}, "NSUserBundle") }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ '/bundles/nscore/css/forms.css' }}" type="text/css">
{% endblock %}

{% block fos_user_content %}
    <div class="jumbotron">
        <h1 class="text-center">{{ "profile.edit.title" | trans({}, "NSUserBundle") }}</h1>
        {% include "@FOSUser/Profile/edit_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
