{% trans_default_domain 'FOSUserBundle' %}

{# NSUserBudle:Security:login_content.html.twig #}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <div class="text-center">
        <img id="profile-img" width="150px" height="150px" class="profile-img-card" src="/bundles/nsuser/img/avatar_2x.png" />
    </div>
    <h1 class="h3 mb-3 font-weight-normal">{{ "security.login.title" | trans({}, "NSUserBundle") }}</h1>

    <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control {%if error%}is-invalid{%endif%}"
           required="required" placeholder="{{ "security.login.placeholder.username" | trans({}, "NSUserBundle") }}" autofocus="autofocus" autocomplete="username" />

    <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" class="form-control {%if error%}is-invalid{%endif%}"
           required="required" placeholder="{{ "security.login.placeholder.password" | trans({}, "NSUserBundle") }}" autocomplete="current-password" />

    {% if error %}
        <div class="invalid-feedback">
            <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Error'|trans({}, 'validators') }}</span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me" class="custom-control-label">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
