{% extends 'NSCoreBundle::admin.html.twig' %}

{% block title %}{{ "resume.new.title" | trans({}, "NSResumeBundle") }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ '/bundles/nscore/css/forms.css' }}" type="text/css">
{% endblock %}

{% block ns_core_admin_body %}
    <div class="jumbotron">
        <h1 class="text-center">{{ "resume.new.title" | trans({}, "NSResumeBundle") }}</h1>

        {% include 'NSResumeBundle:Resume:form.html.twig' %}
    </div>
{% endblock %}
