{% extends 'NSCoreBundle::admin.html.twig' %}

{% block ns_core_admin_body %}
    <h1>Skilllevels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for skillLevel in skillLevels %}
                <tr>
                    <td><a href="{{ path('skilllevel_show', { 'id': skillLevel.id }) }}">{{ skillLevel.id }}</a></td>
                    <td>{{ skillLevel.title }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('skilllevel_show', { 'id': skillLevel.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('skilllevel_edit', { 'id': skillLevel.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('skilllevel_new') }}">Create a new skillLevel</a>
        </li>
    </ul>
{% endblock %}
