{% extends 'NSCoreBundle::admin.html.twig' %}

{% block title %}{{ "skilllevel.index.title" | trans({}, "NSResumeBundle") }} - {{ parent() }}{% endblock %}

{% block ns_core_admin_body %}
    <div class="jumbotron">
        <h1 class="text-center">{{ "skilllevel.index.title" | trans({}, "NSResumeBundle") }}</h1>

        {{ include("NSCoreBundle::messages.html.twig") }}

        <a id="skilllevel-add-new" class="btn btn-primary" href="{{ path('skilllevel_new') }}">
            <i class="fas fa-plus"></i>
            {{ "skilllevel.index.add-new" | trans({}, "NSResumeBundle")  }}
        </a>
    </div>

    <div id="skilllevel-container" class="container-fluid">
        {% if items | length > 0 %}
            <div class="row">

                {% for item in items %}
                    {% set skillLevel = item['entity'] %}
                    {% set delete_form = item['deleteForm'] %}
                    <div class="col-md-3 col-sm-6 p-0">
                        <div class="shadow p-3 mb-5 mx-1 bg-white rounded border border-primary">
                            <p class="text-center">{{ skillLevel.title }}</p>
                            <div class="actions p-2 bd-highlight">
                                <a class="btn btn-primary"
                                   href="{{ path('skilllevel_edit', { 'id': skillLevel.id }) }}">
                                    <i class="fas fa-pencil-alt"></i>
                                    {{ "actions.edit" | trans }}
                                </a>
                            </div>
                            <div class="actions p-2 bd-highlight">
                                <a class="btn btn-secondary"
                                   href="{{ path('skilllevel_show', { 'id': skillLevel.id }) }}">
                                    <i class="far fa-eye"></i>
                                    {{ "actions.show" | trans}}
                                </a>
                            </div>
                            <div class="actions p-2 bd-highlight">
                                {{ form_start(delete_form) }}
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                    {{ "actions.delete" | trans}}
                                </button>
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <em>{{ "table.no-item" | trans }}</em>
        {% endif %}
    </div>

{% endblock %}
