{% extends 'NSCoreBundle::admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ '/bundles/nscore/css/forms.css' }}" type="text/css">
{% endblock %}

{% block ns_core_admin_body %}
    <h1>Skilllevel creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('skilllevel_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
